<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<resultMap id="BoardSelectMap" type="board">
		<result property="boardNo"					column="BOARD_NO"			jdbcType="NUMERIC"></result>
		<result property="boardTitle"				column="BOARD_TITLE"		jdbcType="VARCHAR"></result>
		<result property="boardType"				column="BOARD_TYPE"			jdbcType="VARCHAR"></result>
		<result property="boardCategory"			column="BOARD_CATEGORY"		jdbcType="VARCHAR"></result>
		<result property="boardEmail"				column="BOARD_EMAIL"		jdbcType="VARCHAR"></result>
		<result property="boardMemberNo.memberNo"	column="MEMBER_NO"			jdbcType="NUMERIC"></result>
		
		<association property="option" javaType="BoardOption" >
			<result property="optionNo"				column="OPTION_NO"				jdbcType="NUMERIC"></result>
			<result property="optionNotice"			column="OPTION_NOTICE"			jdbcType="VARCHAR"></result>
			<result property="optionComment"		column="OPTION_COMMENT"			jdbcType="VARCHAR"></result>
			<result property="optionSecret"			column="OPTION_SECRET"			jdbcType="VARCHAR"></result>
			<result property="optionAnswer"			column="OPTION_ANSWER"			jdbcType="VARCHAR"></result>
			<result property="optionCaptcha"		column="OPTION_CAPTCHA"			jdbcType="VARCHAR"></result>
			<result property="optionMass"			column="OPTION_MASS"			jdbcType="VARCHAR"></result>
			<result property="optionOrder"			column="OPTION_ORDER"			jdbcType="VARCHAR"></result>
			<result property="optionAddinfo"		column="OPTION_ADDINFO"			jdbcType="VARCHAR"></result>
			<result property="optionPopup"			column="OPTION_POPUP"			jdbcType="VARCHAR"></result>
			<result property="optionBoard"			column="BOARD_NO"				jdbcType="NUMERIC"></result>
		</association>
		
	</resultMap>
	
	<resultMap id="PostSelectMap" type="post">
		<result property="postNo"					column="POST_NO"				jdbcType="NUMERIC"></result>
		<result property="postTitle"				column="POST_TITLE"				jdbcType="VARCHAR"></result>
		<result property="postContents"				column="POST_CONTENTS"			jdbcType="VARCHAR"></result>
		<result property="postDate"					column="POST_DATE"				jdbcType="VARCHAR"></result>
		<result property="postBoard.boardNo"		column="BOARD_NO"				jdbcType="NUMERIC"></result>
		<result property="postMember.memberNo"		column="MEMBER_NO"				jdbcType="NUMERIC"></result>
		<result property="postMemberName"			column="MEMBER_NAME"			jdbcType="VARCHAR"></result>
		
		<association property="postBoard" javaType="Board" >
			<result property="boardNo"					column="BOARD_NO"			jdbcType="NUMERIC"></result>
			<result property="boardTitle"				column="BOARD_TITLE"		jdbcType="VARCHAR"></result>
			<result property="boardType"				column="BOARD_TYPE"			jdbcType="VARCHAR"></result>
			<result property="boardCategory"			column="BOARD_CATEGORY"		jdbcType="VARCHAR"></result>
			<result property="boardEmail"				column="BOARD_EMAIL"		jdbcType="VARCHAR"></result>
			<result property="boardMemberNo.memberNo"	column="MEMBER_NO"			jdbcType="NUMERIC"></result>		
		</association>
		
	</resultMap>	
	
	<resultMap id="optionSelectMap" type="boardOption">
		<result property="optionNo"					column="OPTION_NO"				jdbcType="NUMERIC"></result>
		<result property="optionNotice"				column="OPTION_NOTICE"			jdbcType="VARCHAR"></result>
		<result property="optionComment"			column="OPTION_COMMENT"			jdbcType="VARCHAR"></result>
		<result property="optionSecret"				column="OPTION_SECRET"			jdbcType="VARCHAR"></result>
		<result property="optionAnswer"				column="OPTION_ANSWER"			jdbcType="VARCHAR"></result>
		<result property="optionCaptcha"			column="OPTION_CAPTCHA"			jdbcType="VARCHAR"></result>
		<result property="optionMass"				column="OPTION_MASS"			jdbcType="VARCHAR"></result>
		<result property="optionOrder"				column="OPTION_ORDER"			jdbcType="VARCHAR"></result>
		<result property="optionAddinfo"			column="OPTION_ADDINFO"			jdbcType="VARCHAR"></result>
		<result property="optionPopup"				column="OPTION_POPUP"			jdbcType="VARCHAR"></result>
		<result property="optionBoard"				column="BOARD_NO"				jdbcType="NUMERIC"></result>
	</resultMap>	
	
	<resultMap id="translateSelectMap" type="boardTranslate">
		<result property="translateNo"				column="TRANSLATE_NO"			jdbcType="NUMERIC"></result>
		<result property="translateCategory"		column="TRANSLATE_CATEGORY"		jdbcType="VARCHAR"></result>
		<result property="boardNo.boardNo"			column="BOARD_NO"				jdbcType="NUMERIC"></result>
	</resultMap>
	
	<resultMap id="fileSelectMap" type="boardFile">
		<result property="fileNo"					column="FILE_NO"				jdbcType="NUMERIC"></result>
		<result property="fileName"					column="FILE_NAME"				jdbcType="VARCHAR"></result>
		<result property="filePost.postNo"			column="POST_NO"				jdbcType="NUMERIC"></result>
	</resultMap>
	
	<resultMap id="memberSelectMap" type="member">
		<result property="memberNo"					column="MEMBER_NO"				jdbcType="NUMERIC"></result>
		<result property="firstName"				column="FIRST_NAME"				jdbcType="VARCHAR"></result>
		<result property="lastName"					column="LAST_NAME"				jdbcType="VARCHAR"></result>
		<result property="email"					column="EMAIL"					jdbcType="VARCHAR"></result>
		<result property="phone"					column="PHONE"					jdbcType="VARCHAR"></result>
		<result property="regDate"					column="REG_DATE"				jdbcType="VARCHAR"></result>
		<result property="status"					column="STATUS"					jdbcType="VARCHAR"></result>
		<result property="id"						column="ID"						jdbcType="VARCHAR"></result>
		<result property="password"					column="PASSWORD"				jdbcType="VARCHAR"></result>
		<result property="profileImg"				column="PROFILE_IMG"			jdbcType="VARCHAR"></result>
	</resultMap>	
	
	<insert id="addBoard" parameterType="board">	
		INSERT
		INTO BOARD(BOARD_NO,
				   BOARD_TITLE,
				   BOARD_TYPE,
				   BOARD_CATEGORY,
				   BOARD_EMAIL,
				   MEMBER_NO)
		VALUES(NEXTVAL(board_seq),
			   #{boardTitle : VARCHAR},
			   #{boardType : VARCHAR},
			   #{boardCategory : VARCHAR},
			   #{boardEmail : VARCHAR},
			   #{boardMemberNo.memberNo})		
		<selectKey keyProperty="boardNo" resultType="int" order="AFTER">
			SELECT LASTVAL(board_seq) from dual
		</selectKey>
	</insert>
	
	<insert id="addPost" parameterType="post" useGeneratedKeys="true" keyProperty="postNo" keyColumn="POST_NO">
		INSERT
		INTO post(POST_NO,
				  POST_ASC,		
				  BOARD_NO,
				  POST_TITLE,
				  POST_CONTENTS,
				  POST_DATE,
				  POST_ORIGIN_NO,
				  MEMBER_NO,
				  MEMBER_NAME)
		VALUES(NEXTVAL(post_seq),
			   NEXTVAL(allAsc_seq),
			   #{postBoard.boardNo},
			   #{postTitle : VARCHAR},
			   #{postContents : VARCHAR},
			   <if test="postDate == null or postDate == ''">
			   	sysdate(),
			   </if>
			   <if test="postDate != null">
			   #{postDate : VARCHAR},
			   </if>
			   LASTVAL(post_seq),
			   #{postMember.memberNo},
			   #{postMemberName : VARCHAR})		
			   
		<selectKey keyProperty="postNo" resultType="int" order="AFTER">
			SELECT LASTVAL(post_seq) from dual
		</selectKey>
	</insert>
	
	<insert id="addAnswerPost" parameterType="post">
		INSERT
		INTO POST(POST_NO,
				  POST_ASC,		
				  BOARD_NO,
				  POST_TITLE,
				  POST_CONTENTS,
				  POST_DATE,
				  POST_ORIGIN_NO,
				  MEMBER_NO,
				  MEMBER_NAME)
		VALUES(NEXTVAL(post_seq),
			   #{postAsc : NUMERIC},
			   #{postBoard.boardNo},
			   #{postTitle : VARCHAR},
			   #{postContents : VARCHAR},
			   sysdate(),
			   #{postOriginNo : NUMERIC},
			   #{postMember.memberNo},
			   #{postMemberName : VARCHAR})		
	</insert>	
	
	<insert id="addOption"	parameterType="boardOption">	
		INSERT
		INTO BOARD_OPTION(OPTION_NO,
				   OPTION_NOTICE,
				   OPTION_COMMENT,
				   OPTION_SECRET,
				   OPTION_ANSWER,
				   OPTION_CAPTCHA,
				   OPTION_MASS,
				   OPTION_ORDER,
				   OPTION_ADDINFO,
				   OPTION_POPUP,
				   BOARD_NO) 
		VALUES(NEXTVAL(board_option_seq),
			   #{optionNotice : VARCHAR},
			   #{optionComment : VARCHAR},
			   #{optionSecret : VARCHAR},
			   #{optionAnswer : VARCHAR},
			   #{optionCaptcha : VARCHAR},
			   #{optionMass : VARCHAR},
			   #{optionOrder : VARCHAR},
			   #{optionAddinfo : VARCHAR},
			   #{optionPopup : VARCHAR},
			   #{optionBoard : NUMERIC})	
	</insert>	
	
	<insert id="addTranslate"	parameterType="boardTranslate">	
		INSERT
		INTO BOARD(TRANSLATE_NO,
				   TRANSLATE_CATEGORY,
				   BOARD_NO)	
		VALUES(NEXTVAL(board_translate_seq),
			   #{translateCategory : VARCHAR},
			   #{boardNo.boardNo})	
	</insert>		
	
	<insert id="addFile" parameterType="boardFile">
		INSERT
		INTO BOARD_FILE(FILE_NO,
						POST_NO,
						FILE_NAME)	
		VALUES(NEXTVAL(board_file_seq),
			   #{filePost.postNo},
			   #{fileName : VARCHAR})
	</insert>
	
	<select id="getBoardList" resultType="hashmap" resultMap="BoardSelectMap" >
		 SELECT
				board_no,
				board_title,
				board_type,
				board_category,
				board_email,
				(SELECT COUNT(*)
				 FROM post p
				 WHERE p.board_no = board_no) count
		FROM	board
		ORDER BY board_no ASC 
	</select>
	
	<select id="getTotalCount" parameterType="hashmap" resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT
						board_no,
						board_title,
						board_type,
						board_category,
						board_email,
						(SELECT COUNT(*)
						 FROM post p
						 WHERE p.board_no = board_no) count
				FROM	board
				ORDER BY board_no ASC) countTable
	</select>
	
	<select id="getTotalCount2" parameterType="hashmap" resultType="int" >
	  	SELECT COUNT(*)
	  	FROM(					SELECT
										p.post_no,
										p.post_asc,
										p.post_title,
										p.post_contents,
										p.post_date,
										p.post_origin_no,
										p.board_no,
										p.member_no,
										p.member_name
								FROM	board b, post p, member m
								WHERE	b.board_no = p.board_no
								AND		m.member_no = p.member_no
								AND		b.board_no = #{boardNo}
								<if test="search.searchType != null">
									<if test="search.searchType == 1 and search.searchKeyword !='' ">
									AND		p.post_title like concat ('%',#{search.searchKeyword},'%')
									</if>
									<if test="search.searchType == 2 and search.searchKeyword !='' ">
									AND		p.member_name like concat ('%',#{search.searchKeyword},'%')
									</if>
								</if>
								ORDER BY p.post_asc ASC) countTable
	</select>	
	
	<select id="getTotalCount3" parameterType="int" resultType="int" >
	  	SELECT COUNT(*)
	  	FROM(					SELECT
										p.post_no,
										p.post_asc,
										p.post_title,
										p.post_contents,
										p.post_date,
										p.post_origin_no,
										p.board_no,
										p.member_no,
										p.member_name
								FROM	board b, post p, member m
								WHERE	b.board_no = p.board_no
								AND		m.member_no = p.member_no
								AND		b.board_no = #{boardNo}		
								ORDER BY p.post_asc ASC) countTable
	</select>
	
	
	<select id="getBoardTitle" resultType="board">		
		SELECT
				board_no,
				board_title
		FROM	board
		ORDER BY board_no ASC	
	</select>
	
	<select id="getBoardData" parameterType="int" resultMap="BoardSelectMap">		
		SELECT
		*
		FROM board
		WHERE board_no = #{boardNo}		
	</select>
	
	<select id="getPostData" parameterType="int" resultMap="PostSelectMap">
		SELECT
		*
		FROM post
		WHERE post_no = #{value}
	</select>
	
	<select id="getPrevPost" parameterType="int" resultMap="PostSelectMap">
		SELECT * FROM post WHERE post_no <![CDATA[<]]> #{value} ORDER BY post_no DESC LIMIT 1
	</select>
	
	<select id="getNextPost" parameterType="int" resultMap="PostSelectMap">
		SELECT * FROM post WHERE post_no <![CDATA[>]]> #{value} ORDER BY post_no LIMIT 1 
	</select>
	
	<select id="getBoardAllData" parameterType="int" resultMap="BoardSelectMap" >		
		SELECT
		tb1.board_no,
		tb1.member_no,
		tb1.board_title,
		tb1.board_type,
		tb1.board_category,
		tb1.board_email,
		tb2.OPTION_NO,
		tb2.OPTION_NOTICE,
		tb2.OPTION_COMMENT,
		tb2.OPTION_SECRET,
		tb2.OPTION_ANSWER,
		tb2.OPTION_CAPTCHA,
		tb2.OPTION_MASS,
		tb2.OPTION_ORDER,
		tb2.OPTION_ADDINFO,
		tb2.OPTION_POPUP,
		tb2.BOARD_NO
		FROM board tb1
		LEFT OUTER JOIN board_option tb2
		ON tb1.BOARD_NO = tb2.BOARD_NO
		WHERE tb1.board_no = #{value}		
	</select>
	
	<select id="getPostList" parameterType="hashmap" resultType="hashmap" >	
		SELECT
				@rownum:=@rownum+1 as row_no,
				p.post_no,
				p.post_asc,
				p.post_title,
				p.post_contents,
				date_format(POST_DATE, '%Y-%m-%d') post_date,
				p.post_origin_no,
				p.board_no,
				p.member_no,
				p.member_name
		FROM	board b, post p, member m, (select @rownum:=0) row_reset
		WHERE	b.board_no = p.board_no
		AND		m.member_no = p.member_no
		AND		b.board_no = #{boardNo}
		<if test="search.searchType != null">
			<if test="search.searchType == 1 and search.searchKeyword !='' ">
			AND		p.post_title like concat ('%',#{search.searchKeyword},'%')
			</if>
			<if test="search.searchType == 2 and search.searchKeyword !='' ">
			AND		p.member_name like concat ('%',#{search.searchKeyword},'%')
			</if>
		</if>
		ORDER BY p.post_asc ASC
		LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<select id="getUserPostList" parameterType="hashmap" resultMap="PostSelectMap" >	
		SELECT
				@rownum:=@rownum+1 as row_no,
				p.post_no,
				p.post_asc,
				p.post_title,
				p.post_contents,
				date_format(p.POST_DATE, '%Y-%m-%d') post_date,
				p.post_origin_no,
				p.board_no,
				p.member_no,
				p.member_name
		FROM	board b, post p, member m, (select @rownum:=0) row_reset
		WHERE	b.board_no = p.board_no
		AND		m.member_no = p.member_no
		AND		b.board_no = #{boardNo}
		<if test="search.searchType != null">
			<if test="search.searchType == 1 and search.searchKeyword !='' ">
			AND		p.post_title like concat ('%',#{search.searchKeyword},'%')
			</if>
			<if test="search.searchType == 2 and search.searchKeyword !='' ">
			AND		p.member_name like concat ('%',#{search.searchKeyword},'%')
			</if>
		</if>
		ORDER BY p.post_asc ASC
		LIMIT #{limit} OFFSET #{offset}
	</select>	
	
	<select id="getMainPostList" resultMap="PostSelectMap" >	
			select *
			from(
				select 
				tb1.*,
				dense_rank() over (order by date_format(tb1.POST_DATE, '%Y-%m-%d-%h-%m-%r') desc) as 'ranking'
				from post tb1
				) tbl1
			left outer join board tbl2
			on tbl1.board_no = tbl2.BOARD_NO 
			where tbl1.ranking <![CDATA[<=]]> 3
	</select>
			
	<select id="getMemberData" parameterType="int" resultMap="memberSelectMap">
		SELECT
			   member_no,
			   first_name,
			   last_name,
			   email,
			   phone,
			   reg_date,
			   status,
			   id,
			   password,
			   profile_img
		FROM   member
		WHERE  member_no = #{memberNo}
	</select>
	
	<select id="getPostFile" parameterType="int" resultMap="fileSelectMap">
		SELECT
			   file_no,
			   post_no,
			   file_name
		FROM   board_file
		WHERE  post_no = #{postNo}
	</select>
	
	<select id="getFileData" parameterType="int" resultMap="fileSelectMap">
		SELECT
			   file_no,
			   post_no,
			   file_name
		FROM   board_file
		WHERE  file_no = #{file_no}
	</select>
	
	<delete id="deleteChoiceBoard">
		DELETE
		FROM board
		WHERE <foreach collection="list" item="boardNo" open="(" close=")" separator="or">
				board_no = #{boardNo}
			  </foreach>
	</delete>
	
	<delete id="deleteChoicePost">
		DELETE
		FROM post
		WHERE <foreach collection="list" item="postNo" open="(" close=")" separator="or">
				post_no = #{postNo}
			  </foreach> 
	</delete>
	
	<delete id="deleteFile" parameterType="int">
		DELETE
		FROM board_file
		WHERE file_no = #{value}
	</delete>
	
	<update id="updateBoard" parameterType="board">
		UPDATE board
		<set>
			board_title = #{boardTitle},
			board_type = #{boardType},
			board_category = #{boardCategory},
			board_email = #{boardEmail} 
		</set>
		WHERE board_no = #{boardNo : NUMERIC}
	</update>
	
	<update id="updatePost" parameterType="post">
		UPDATE post
		<set>
			post_title = #{postTitle},
			post_Contents = #{postContents},
			post_origin_no = #{postOriginNo}
		</set>
		WHERE post_no = #{postNo}
	</update>
	
	<update id="updatePostReply" parameterType="post">
		UPDATE post
		<set>
			post_asc = #{postAsc}+1
		</set>
		WHERE post_no = #{postOriginNo}
	</update>
	
	<update id="updateOption" parameterType="boardOption">
		UPDATE BOARD_OPTION
		<set>
			OPTION_NOTICE = #{optionNotice},
			OPTION_COMMENT = #{optionComment},
			OPTION_SECRET = #{optionSecret},
			OPTION_ANSWER = #{optionAnswer},
			OPTION_CAPTCHA = #{optionCaptcha},
			OPTION_MASS = #{optionMass},
			OPTION_ORDER = #{optionOrder},
			OPTION_ADDINFO = #{optionAddinfo},
			OPTION_POPUP = #{optionPopup}			
		</set>
		WHERE board_no = #{optionBoard : NUMERIC}			
	</update>
	
	<update id="updateUpAsc" parameterType="map">
		UPDATE POST
		<set>
			POST_ASC = #{boardUpAsc}
		</set>
		WHERE POST_ORIGIN_NO = #{upPostNo}
	</update>	
	
	<update id="updateDownAsc" parameterType="map">
		UPDATE POST
		<set>
			POST_ASC = #{boardDownAsc}
		</set>
		WHERE POST_ORIGIN_NO = #{downPostNo}
	</update>
	
	<update id="postViewCount" parameterType="post">
		UPDATE POST
		<set>
			POST_VIEWCOUNT = #{postViewCount}
		</set>	
		WHERE post_no = #{postNo}
	</update>
	
	<update id="updateThombnail" parameterType="post">
		UPDATE POST
		<set>
			POST_THOMBNAIL = #{postThombnail}
		</set>
		WHERE post_no = #{postNo}
	</update>
	
</mapper>





















