@charset "utf-8";

.location_text {
  padding-top: 40px;
  font-size: 20px;
}

.location_btn {
  border-radius: 3%;
  width: 620px;
  height: 70%;
}
@media all and (min-width: 485px) {
 .items{
	width: calc(50% - 20px);
	}
}
@media all and (max-width: 480px) {
 .items{
	width: calc(100% - 20px);
	}
	.location_text{
	  font-size: 50%;
	}
	
}