@charset "utf-8";
.location_name{
	padding-top:5px;	
}
.location_text {
padding: 0% 0 5% 0;
  font-size: 20px;
}

.location_text:before{
	content:"";
  position:absolute;
  display:block;
  width:120px;
  height:1px;
  text-align:center;
  background-color: #000;
}
.location_btn {
  border-radius: 3%;
  max-width: 1281px;
  vertical-align: top;
  max-height: 959px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media all and (max-width: 768px) {
 .items{
	width: calc(50% - 20px);
	}
	.location_text {
    font-size: 16px;
}
.location_btn {
    max-width: 718px;
    height: 537px;
}
}
@media all and (max-width: 480px) {
 .items{
	width: calc(100% - 20px);
	}
	.location_text{
	  font-size: 14px;
	}
	
}