@charset "utf-8";
s
/* .common-swiper_area + .layout_section_outer.recruit {padding:60px 0 120px;} */
.layout_section_outer.recruit {
  padding: 120px 0 120px;
}
.layout_section_outer.recruit .common-search_box_wrap {
  margin-top: -60px;
}
.layout_section_outer.recruit2 {
  padding: 50px 0 0;
}
.layout_section_outer.recruit .inner_container {
}
.layout_section_outer.recruit2 .inner_container + .inner_container {
  margin-top: 160px;
}
.layout_section_outer.recruit .common-search_box {
  width: 400px;
}

.process-flow .color1 {
  border: 4px solid #035aa6;
}
.process-flow .color2 {
  border: 4px solid #0468bf;
}
.process-flow .color3 {
  border: 4px solid #0477bf;
}
.process-flow .color4 {
  border: 4px solid #59a8d9;
}
.process-flow .color5 {
  border: 4px solid #bdd4f2;
}
.icon.hr_ic {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 98px;
  top: 60px;
}
.hr_li_1 {
  background-image: url(../images/icon/01_file.png);
}
.hr_li_2 {
  background-image: url(../images/icon/02_email.png);
}
.hr_li_3 {
  background-image: url(../images/icon/03_document.png);
}
.hr_li_4 {
  background-image: url(../images/icon/04_interview.png);
}
.hr_li_5 {
  background-image: url(../images/icon/05_confirm.png);
}
.process-flow .flow_list {
  overflow: hidden;
}
.process-flow .flow_list > li {
  position: relative;
  width: 19%;
  margin-left: 10px;
  float: left;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  text-align: center;
  padding-top: 20%;
  border-radius: 10%;
}
.process-flow .flow_list > li .flow_num {
  display: none;
}
.process-flow .flow_list > li .flow_txt {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  line-height: 30px;
  width: 80%;
  color: black;
}

.process-flow .flow_list > li .flow_txt em {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
.process-flow .flow_list > li .flow_txt.txt-white {
  color: #fff;
}
.process-flow .flow_list > li .flow_txt .sub_txt {
  display: block;
  font-size: 18px;
  line-height: 36px;
  color: #666;
}
.process-flow .process_txt {
  margin-top: 120px;
  font-size: 18px;
  line-height: 28px;
  color: #666;
}
.process-flow .process_txt span {
  color: #000;
}

/*
.process-flow .flow_list {overflow:hidden;}
.process-flow .flow_list > li {width:300px; height:300px; margin-right:-55px; display:flex; align-items: center; justify-content: center; float:left; overflow:hidden; position:relative; border-radius:50%; text-align:center;}
.process-flow .flow_list > li .flow_num {display:none;}
.process-flow .flow_list > li .flow_txt {font-size:24px; line-height:36px;}
.process-flow .flow_list > li .flow_txt em {font-weight:normal; font-style:normal;}
.process-flow .flow_list > li .flow_txt.txt-white {color:#fff;}
.process-flow .flow_list > li .flow_txt .sub_txt {display:block; font-size:18px; line-height:36px; color:#666;}
.process-flow .process_txt {margin-top:120px; font-size:18px; line-height:28px; color:#666;}
.process-flow .process_txt span {color:#000;}
*/

.process-flow .box-layout_3 {
  margin-top: 40px;
}
.process-flow .box-layout_3 .common-cont_box {
  padding: 24px 0;
  margin-top: 56px;
  border: 0;
  border-top: 1px solid #e6e6e6;
  border-radius: 0;
}
.process-flow
  .box-layout_3
  .common-cont_box:nth-child(1)
  .process-flow
  .box-layout_3
  .common-cont_box:nth-child(2)
  .process-flow
  .box-layout_3
  .common-cont_box:nth-child(3) {
  margin-top: 0;
}
.process-flow .box-layout_3 .common-cont_box .cont_title {
  font-size: 28px;
  line-height: 44px;
}
.process-flow .box-layout_3 .common-cont_box .cont_title em {
  font-size: 20px;
  color: #0573e8;
  font-style: normal;
  display: inline-block;
  margin-bottom: -2px;
  vertical-align: text-bottom;
}
.process-flow .box-layout_3 .common-cont_box .cont_desc {
  margin-top: 16px;
  font-size: 18px;
  line-height: 28px;
  color: #666;
}

.process_btn_area {
  margin-top: 120px;
  text-align: center;
}
.process_btn_area .common-btn {
  margin-right: 16px;
}
.process_btn_area .common-btn.is-white2 {
  border-color: #ccc;
}
.process_btn_area .common-btn.is-white2:hover {
  border-color: rgba(204, 204, 204, 0.5);
}
.process-flow.size-02 .flow_list {
  max-width: none;
}

/* 채용안내 */
.recruit_search_imo {
  background-image: url(../images/common/magnifying-glass-solid.jpg);
}

.recruit-search_box_wrap {
  display: flex;
  justify-content: space-between;
}

.application_btn {
  border-color: #3e6d9c;
  background-color: #3e6d9c;
  color: #fff;

  height: 64px;
  line-height: 64px;
  text-align: center;
  display: inline-block;
  width: 200px;
}

.application_btn_area a {
  text-decoration: none;
  color: #fff;
}

#postList a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
}

@media (hover: hover) {
  .process_btn_area .common-btn.is-white2:hover {
    border-color: rgba(204, 204, 204, 0.5);
  }
}

.common-text_reg-date{
	width:140px;
}

.process-flow.type01 .flow_list > li .flow_desc {
  display: none;
}
/* .process-flow.size-01 .flow_list > li {width:280px; height:280px; margin-right:-30px;} */
.process-flow.size-02 .flow_list > li {
  width: 19.27%;
  padding-top: 19.27%;
  margin-left: -2.73%;
}

.layout_section_outer .layout_head .top_txt1hr {
    font-size: 44px;
}

@media all and (max-width: 1280px) {
  .process-flow .flow_list {
    padding-left: 3.31%;
  }
}
@media all and (max-width: 1262px) {
  .process_btn_area .common-btn {
    margin-top: 12px;
  }
}
@media all and (max-width: 1024px) {
  .process-flow .flow_list > li .flow_txt {
    font-size: 20px;
    line-height: 26px;
  }
  .process-flow .flow_list > li .flow_txt .sub_txt {
    font-size: 16px;
    line-height: 26px;
  }
  .process-flow .process_txt {
    margin-top: 60px;
  }
  .process_btn_area {
    margin-top: 68px;
  }

  .process-flow .box-layout_3.is-vertical {
    margin-top: 30px;
  }
  .process-flow .box-layout_3.is-vertical .common-cont_box {
    width: calc(50% - 20px);
    margin-left: 40px;
  }
  .process-flow .box-layout_3.is-vertical .common-cont_box:nth-child(odd) {
    margin-left: 0;
  }
  .process-flow
    .box-layout_3.is-vertical
    .common-cont_box:nth-child(1)
    .process-flow
    .box-layout_3.is-vertical
    .common-cont_box:nth-child(2)
    .process-flow
    .box-layout_3.is-vertical
    .common-cont_box:nth-child(3) {
    margin-top: 0;
  }
  .process-flow .box-layout_3 .common-cont_box .cont_title {
    font-size: 24px;
    line-height: 40px;
  }
  
}

@media all and (max-width: 768px) {
	.common-text_list_area .common-text_list > li .date_box.center-left {
    text-align: left;
    color: dimgray;
	}
	
	.layout_section_outer .layout_head .top_txt1hr {
    font-size: 36px;
    line-height: 40px;
	}
	
	.top_visual_area .top_txt_outer .top_txt_area .top_txt2hr {
    margin-top: 4px;
    font-size: 36px;
    line-height: 48px;
    color: #ffff;
	}
	
  .common-swiper_area + .layout_section_outer.recruit {
    padding: 64px 0 120px;
  }
  .layout_section_outer.recruit {
    padding: 48px 0;
  }
  .layout_section_outer.recruit .common-search_box_wrap {
    margin-top: -16px;
  }
  .layout_section_outer.recruit2 .inner_container + .inner_container {
    margin-top: 120px;
  }
  .layout_section_outer.recruit .common-search_box {
    width: 100%;
  }

  .layout_section_outer .layout_body.process-area {
    margin-top: 40px;
  }
  .process-flow .flow_list {
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .process-flow .flow_list > li {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 20px 0;
    float: none;
    justify-content: flex-start;
    background-color: transparent;
    border-radius: 0;
  }
  .process-flow .flow_list > li .flow_num {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
  }
  .process-flow .flow_list > li .flow_num.txt-white {
    color: #fff;
  }
  .process-flow .flow_list > li .flow_txt {
        /* width: auto; */
    /* position: inherit; */
    /* transform: inherit; */
    /* margin-left: 16px; */
    text-align: left;
    margin-top: 25px;
  }
  .process-flow .flow_list > li .flow_txt em {
    display: none;
  }
  .process-flow .flow_list > li .flow_txt.txt-white {
    color: #000;
  }
  .process-flow .process_txt {
    font-size: 16px;
    line-height: 26px;
  }
  .process_btn_area .common-btn {
    width: 100%;
  }
  .process_btn_area .common-btn .mail_addr {
    display: none;
  }

  .process-flow.type01 .flow_list > li {
    padding-left: 1em;
    display: block;
    text-align: left;
  }
  .process-flow.type01 .flow_list > li .flow_num {
    position: absolute;
    top: 20px;
  }
  .process-flow.type01 .flow_list > li .flow_txt {
    /* padding-top: 12px; */
    margin-left: 0;
  }
  .process-flow.type01 .flow_list > li .flow_desc {
    margin-top: 12px;
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #666;
  }
  
  .icon.hr_ic {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 98px;
    top: 61px;
	}
	
	.process-flow .flow_list > li {
    position: relative;
    width: 200px;
    margin-left: 1em;
    float: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.2px;
    text-align: center;
    padding-top: 21%;
    border-radius: 10%;
    height: 12em;
    margin-bottom: 20px;
	}
	
	.layout_section_outer .layout_head .top_txt1 {
	    font-size: 30px;
	    line-height: 40px;
	}

	.main_notice {
		/* display: none; */
		visibility: hidden;
		height: 0;
	}
	
	.top_visual_area.recruit {
		background-image: url(../images/recruit_top.jpg);
	}
	.application_btn {
		width: 100%;
		font-size: 16px;
	}
	.searchForm.recruit {
		width: 100%;
		padding-top: 30px;
	}
	.recruit-search_box_wrap {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	
	.top_visual_area.recruit .top_txt_outer .top_txt_area {
    	min-height: 442px;
	}
	
	.common-text_reg-date {
		width: 100%;
	}
	
	.common-pagination {
		margin: 40px 0;
	}
	
	.top_visual_area .top_txt_outer .top_txt_area .top_txt2 {
    	margin-top: 4px;
    	font-size: 20px;
    	line-height: 48px;
	}
	
	.common-text_list_area .common-text_reg-date {
    text-align-last: center;
    font-size: 16px;
	}
	
	.process-flow .box-layout_3 .common-cont_box .cont_title {
    font-size: 28px;
    line-height: 40px;
	}
	
	.process-flow .box-layout_3 .common-cont_box .cont_desc {
    margin-top: 16px;
    font-size: 16px;
    line-height: 28px;
    color: #666;
	}
	
	.layout_section_outer .layout_head .top_txt1hr {
    font-size: 36px;
    line-height: 40px;
	}
	
}

@media all and (max-width: 430px) {
	.common-text_list_area .common-text_reg-date {
    text-align-last: center;
    font-size: 14px;
	}
	
	.application_btn {
		width: 100%;
		font-size: 14px;
	}
	
	.application_btn {
		width: 100%;
		font-size: 14px;
	}
	
	.process-flow .box-layout_3 .common-cont_box .cont_desc {
    margin-top: 16px;
    font-size: 14px;
    line-height: 28px;
    color: #666;
	}
	
	.top_visual_area .top_txt_outer .top_txt_area .top_txt3 {
    margin-top: 24px;
    font-size: 14px;
    line-height: 26px;
	}
	
	.box-layout_3 {
    display: list-item;
	}
	
	.process-flow .box-layout_3.is-vertical .common-cont_box {
    /* width: calc(50% - 20px); */
    /* margin-left: 40px; */
    width: 100%;
    margin-left: 0px;
	}
	
	#postList a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
	}
	
	.common-text_list_area .common-text_reg-date {
    font-size: 14px;
    text-align-last: inherit;
    margin-left: 20px;
}
}
	
