<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="setting">

	
	<select id="selectHistoryList" resultType="history">
		select * from history
	</select>
	
	<select id="selectAwardList" resultType="Award">
		select * from award
	</select>
	
  	<select id="selectAdminMenuList" resultType="adminMenu">
  		select * from admin_menu
  	</select>
  	
  	<select id="selectAdminSetting" resultType="adminSetting">
  		select * from admin_setting
  	</select>

  	<update id="updateAdminSetting">
  		update admin_setting set email = #{email}, phone = #{phone}, caller_id = #{callerId}, 
			<if test="thumbnailImg != null and thumbnailImg != ''">
	  			thumbnail_img = #{thumbnailImg}, 
			</if>
			<if test="faviconImg != null and faviconImg != ''">
	  			favicon_img = #{faviconImg}, 
			</if>
  			is_discount = #{isDiscount}, history_layout_no = #{historyLayoutNo}, history_view_type = #{historyViewType} 
  	</update>
  	
  	<update id="updateAdminMenuAllN">
  		update admin_menu set status = 'N'
  	</update>
  	
  	<update id="updateAdminMenu">
  		update admin_menu set status = 'Y' where menu_no = #{menuNo}
  	</update>


	
</mapper>